@model GamerForum.Models.Games

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="create-games" class="content">
    <div class="text-box">
        <h1>Create new game</h1>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label for="Game_name">Game name</label>
                        @Html.EditorFor(model => model.Game_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Game_name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="Year_releashed">Year released</label>
                    @Html.EditorFor(model => model.Year_releashed, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Year_releashed, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="Game_url">Link to game</label>
                        @Html.EditorFor(model => model.Game_url, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Game_url, "", new { @class = "text-danger" })
                </div>
                
                <div class="form-group">
                    <label for="Game_time">Estimated game time</label>
                        @Html.EditorFor(model => model.Game_time, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Game_time, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="Number_of_Players">Recommended number of players</label>
                        @Html.EditorFor(model => model.Number_of_Players, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Number_of_Players, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="Description">Game description</label><!--
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })-->
                    <textarea id="Description" name="Description" class="form-control"></textarea>
                </div>


                <div class="form-group">
                    <button type="submit">Create new game</button>
                </div>
            </div>
        }
    </div>

    <p class="back-to-list">
        <a href="~/Games/Index"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to list</a>
    </p>
</div>