@model GamerForum.Models.Games

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="specific-game" class="content">
    <p class="back-to-list">
        @if (User.IsInRole("Administrator")) { 
        @Html.ActionLink("Edit", "Edit", new { id = Model.GameId }) 
        }
        @Html.ActionLink("Back to List", "Index")
    </p>

    <div class="text-box">
        <h1>@Html.DisplayFor(model => model.Game_name) <span>@Html.DisplayFor(model => model.Year_releashed)</span></h1>
        <p class="make-review"><a href="#">[ make review ]</a></p>
        <div class="game-images">
            @foreach (var images in Model.Images)
            {
                <figure><img src="@images.Image_path" alt="No Images" /></figure>
            }
        </div>
        <div class="game-info">
            <div class="stars">
                <p><i class="fa fa-star" aria-hidden="true"></i> 3.7</p>
            </div>
            <p>
                <b>Recommended players:</b> @Html.DisplayFor(model => model.Number_of_Players)
            </p>
            <p>
                <b>Game time:</b> @Html.DisplayFor(model => model.Game_time)
            </p>
            <p>
                <b>Games site:</b> @Html.DisplayFor(model => model.Game_url)
            </p>
            <p><b>Descritpion:</b> </p>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
    </div>

</div>
