@model IEnumerable<GamerForum.Models.Games>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") <br />
    @using (Html.BeginForm())
    {
        <p>
        title: @Html.TextBox("searchString") <br />
        <input type="submit" value="Filter" />

        </p>
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number_of_Players)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year_releashed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GameId)
        </td>
        <td>
           <a href="~/Games/Details/@item.GameId">@item.Game_name</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_of_Players)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year_releashed)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.GameId }) |
            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.GameId}) <br />
                @Html.ActionLink("Delete", "Delete", new { id = item.GameId })
            }
        </td>
    </tr>
}

</table>
