@model IEnumerable<GamerForum.Models.Games>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="games" class="content">
    <h1>Board Games</h1>
    @if (User.IsInRole("Administrator")) { 
    <p class="back-to-list">
        <a href="~/Games/Create"><i class="fa fa-plus" aria-hidden="true"></i> Create new</a>
    </p>
    }
    <div class="genre">

    </div>

    <div class="game-list">
        @foreach (var item in Model)
        {
            <div class="game">
                <a href="~/Games/Details/@item.GameId">
                    <figure>
                        @if(item.Images.Count > 0) { 
                        <img src="@item.Images.First().Image_path" alt="no image" />
                        }
                       <figcaption>
                            <h2>@item.Game_name</h2>
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i> 9.7
                                <img src="~/Content/Image/genre.png" /> Genre
                            </p>
                        </figcaption>
                    </figure>
                </a>
            </div>
        }
    </div>

    <!--<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number_of_Players)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year_releashed)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameId)
                </td>
                <td>
                    <a href="~/Games/Details/@item.GameId">@item.Game_name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game_time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number_of_Players)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year_releashed)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.GameId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.GameId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.GameId })
                </td>
            </tr>
        }

    </table>-->
</div>